body {
    font-family: 'Balsamiq Sans', cursive;
    background: #f5f5f5;
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    padding-top: 20px;
    height: 300px;
    overflow-y: scroll;
}

.main,
.add {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    background: #eeeeee;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 10fr 1fr;
    border: 1px solid #424242;
    border-radius: 4px;

}


.item {
    position: relative;
}

.overlay {
    transition: all 1s ease-in;
}

.overlay:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: #2e7d32;
    opacity: 0.5;
}


.text {
    width: 100%;
    max-height: 70px;
    overflow: scroll;
    overflow-x: hidden;

}

.add {
    /* border: 1px solid green; */
}

.add-item {
    background: #eeeeee;
    display: flex;
    text-align: center;
    width: 60%;
    flex-direction: column;
    /* border: 2px solid red */
}

textarea {
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
    resize: none;
    height: 120px;
    font-family: 'Balsamiq Sans', cursive;
}

.checkbox {
    z-index: 99999;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox i {
    display: none;
    font-size: 32px;
}

.icon {
    width: 32px;
    height: 32px;
    border: 1px solid green;
}

.icon.del i {
    display: block;
}

.del {
    border: 1px solid red;
}

i {
    display: none;
}

.buttons {
    margin-top: 25px;
    padding-bottom: 25px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto 80px;
    grid-gap: 20px;
    width: 50%;
}



button {
    font-family: 'Balsamiq Sans', cursive;
    background: #212121;
    color: #fafafa;
    width: 80px;
    height: 35px;
    border: 1px solid #212121;
    border-radius: 2px;
    transition: all ease-in .3s;
}

button:hover {
    background: #424242;
}


h2 {
    display: none;
}

.copy {
    opacity: .6;
    text-align: center;
}


/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .text p {
        padding: 0 1rem;
        font-size: .9rem;
    }

    .item {
        grid-template-columns: 1.5fr 9fr 1.5fr;
    }
}

@media only screen and (max-width: 650px) {
    .item {
        grid-template-columns: 2fr 8fr 2fr;
    }
}

@media only screen and (max-width: 375px) {
    .item {
        grid-template-columns: 2.5fr 7fr 2.5fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}